// SCSS
// Masonry layout flex
.masonry-with-flex {
	display: flex !important;
	flex-direction: row !important;
	max-height: 1000px !important;

	div {
		flex: 1 1 30%;

		div {
			background: #975a58 !important;
			color: white !important;
			text-align: center !important;
			font-weight: 900 !important;
            font-size: 2rem !important;
            
            img {
                width: 100%;
                padding: 10px;
            }
		}

		@for $j from 1 through 3 {
			&:nth-child(#{$j}) {
				@for $i from 1 through 36 {
					&:nth-child(#{$i}) {
						$h: (random(400) + 100) + px;
						height: $h !important;
						line-height: $h !important;
					}
				}
			}
		}
	}
}
